img {
  vertical-align: middle;
  border-style: none;
  width: 190px;
  background-size: cover;
  height: 190px;
}

img {
  border-style: none;
  width: 300px;
  background-size: cover;
  height: 300px;
}

