a:hover {
  color: #000;
  text-decoration: underline;
}

#navcol-1 ul li a:hover {
  color: #000;
  background-color: #fff;
  transition: 0.5s;
}

#about {
  padding-top: 350px;
  padding-bottom: 350px;
  background-size: cover;
  text-align: center;
}

.box {
  display: inline-block;
  margin-left: 30px;
  background-color: #000;
  padding: 25px;
}

.box a {
  display: flow-root;
}

#projects {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.box a {
  text-decoration: none;
}

.box a:hover {
  color: #0c590e;
  transition: 0.5s;
}

footer img {
  width: 40px;
  height: 40px;
}

footer {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #6a6e6a;
}

footer a:hover {
  color: #6a6e6a;
  background-color: #6a6e6a;
}

